* {
  box-sizing: border-box;
}
h1,
p,
form,
button,
img,
footer,
figure {
  font-family: sans-serif;
}
html,
body {
  color: #333;
  background: #fff;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.4rem;
}
h1 {
  margin: 0;
  font-size: 2rem;
}
form {
  border-collapse: 0;
  margin-top: 0.4em;
/* had a 1px bug in firefox with the flickr button group, i "borrowed" a fix from bootstrap, annotated below */
}
form label,
form input,
form button {
  font-size: 1rem;
}
form label {
  display: inline-block;
  margin-bottom: 0.4em;
}
form .input-group {
  position: relative /* stolen from bootstrap */;
  display: table /* stolen from bootstrap */;
  border-collapse: separate /* stolen from bootstrap */;
}
form .input-group-btn {
  position: relative /* stolen from bootstrap */;
  font-size: 0 /* stolen from bootstrap */;
  white-space: nowrap /* stolen from bootstrap */;
  vertical-align: middle /* stolen from bootstrap */;
  display: table-cell /* stolen from bootstrap */;
  width: 1% /* stolen from bootstrap */;
}
form input,
form button {
  margin: 0;
  border: 0;
  height: 2em;
  padding: 0.4em 0.8em;
  vertical-align: 0;
  border: 1px solid #19957e;
}
form input {
  display: table-cell /* stolen from bootstrap */;
  position: relative /* stolen from bootstrap */;
  top: 1px /* stolen from bootstrap */;
  float: left /* stolen from bootstrap */;
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
  border-right: 0;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
form button {
  position: relative /* stolen from bootstrap */;
  display: inline-block /* stolen from bootstrap */;
  top: 1px /* stolen from bootstrap */;
  z-index: 2 /* stolen from bootstrap */;
  border-left: 0;
  background: #3dba91;
  color: #fff;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}
form button:hover {
  background: #19957e;
}
form button:active {
  background: #126959;
}
#container {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
#container .uil-flickr-css {
  margin: 0 auto;
}
#container #loading.hidden,
#container #error.hidden {
  display: none;
}
#photos_container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#photos_container button {
  background: #fff;
  border: 0;
  height: 172px;
  width: 172px;
  transition: 400ms background ease-in-out;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid #fff;
}
#photos_container button:hover,
#photos_container button:focus {
  z-index: 2;
  background: #3dba91;
  border: 1px solid #19957e;
}
#photos_container button img {
  max-height: 96%;
  max-width: 96%;
}
#overlay_container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(255,255,255,0.75);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: 400ms opacity ease-in-out, 400ms visibility ease-in-out, 400ms display ease-in-out;
  visibility: visible;
  opacity: 1;
  z-index: 3;
}
#overlay_container figure {
  max-height: 90%;
  max-width: 90%;
  text-align: center;
/*flex()*/
/*flex-direction row*/
/*align-items center */
/*justify-content center*/
}
#overlay_container figure figcaption {
  margin: 0 auto;
  width: 100%;
  background: rgba(255,255,255,0.5);
  font-size: 0.8rem;
  text-align: center;
  padding: 0.4rem 0.2rem;
}
#overlay_container figure img {
/*flex-shrink 1*/
  max-height: 90%;
  max-width: 90%;
}
#overlay_container.hidden,
.hidden {
/*display none*/
  visibility: hidden;
  opacity: 0;
}
#overlay_container #image_detail {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  align-self: center;
  -webkit-align-self: center;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 1 1 0%;
/*webkit-fill-available
		flex-basis -moz-available
		flex-basis fill*/
}
#overlay_container .button_holder {
  padding: 30px;
  flex-shrink: 0;
}
#overlay_container .button_holder:nth-child(2) {
  background: #f00;
}
#overlay_container .button_holder:nth-child(2) {
  text-align: right;
/*align-self flex-end*/
}
#overlay_container #close_overlay {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(45deg);
}
#overlay_container #close_overlay button {
  color: #333;
  background: transparent;
}
#overlay_container #close_overlay button:hover {
  background: rgba(51,51,51,0.1);
}
#overlay_container button {
  background: #3dba91;
  color: #fff;
  text-align: center;
  border: 0;
  border-radius: 50%;
  display: inline-block;
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  z-index: 4;
}
#overlay_container button:active {
  background: #126959;
}
#overlay_container button:hover,
#overlay_container button:focus {
  background: #19957e;
}
button:hover {
  cursor: pointer;
}
footer {
  position: fixed;
  bottom: 0;
  padding: 20px 0;
}
@media screen and (max-width: 900px) {
  #container {
    width: 100%;
  }
  #photos_container button {
    display: block;
    width: 100%;
    margin: 5px 0;
  }
  #overlay_container {
    max-height: 100%;
    max-width: 100%;
  }
  #overlay_container .button_holder {
    position: relative;
    bottom: 0;
    padding: 5px;
    float: left;
  }
  form label,
  form input,
  form button {
    font-size: 0.8rem;
  }
  form label {
    display: inline-block;
    margin-bottom: 0.4em;
  }
  form input,
  form button {
    border-radius: 4px;
  }
  form input,
  form button,
  form .input-group,
  form .input-group-button {
    display: block;
  }
  form input {
    width: 100%;
    border: 1px solid #126959;
    border-radius: 4px;
  }
  form button {
    float: right;
    margin-top: 0.4rem;
    border: 1px solid #126959;
  }
}
/* the entire .sr-only class below was taken from bootstrap. this provides a way to insert additional text for screenreaders */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
